# Panda and Numpy

In [2]:
import pandas as pd
import numpy as np

## Creating a dataframe from an array

In [5]:
#creating array
data = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [6]:
data

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
#creating dataframe
dataForm = pd.DataFrame(data, index=['A', 'B', 'C'], 
                       columns=['C1', 'C2', 'C3'])

In [12]:
dataForm

   C1  C2  C3
A   1   2   3
B   4   5   6
C   7   8   9

#### option 2

In [17]:
# creating an array with list shape
data2 = [[1, 4], [2, 5], [3, 6]]

In [21]:
df=pd.DataFrame(data2, index=['row1', 'row2', 'row3'],
                columns=['col1','col2'] )

In [22]:
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## Creating a DataFrame from a dictionary

In [23]:
#List
states = ["California", "Texas", "Florida", "New York"]
population = [39613493, 29730311, 21944577, 19299981]

In [24]:
#Creating dictionary
state_dictionary= {'Place':states, 'people':population}

In [25]:
state_dictionary

{'Place': ['California', 'Texas', 'Florida', 'New York'],
 'people': [39613493, 29730311, 21944577, 19299981]}

In [26]:
# DataFrame from dictionary
dataFrame_population=pd.DataFrame(state_dictionary)

In [27]:
dataFrame_population

        Place    people
0  California  39613493
1       Texas  29730311
2     Florida  21944577
3    New York  19299981

In [29]:
# Option 2
dataFrame_population2 = pd.DataFrame.from_dict(state_dictionary)

In [30]:
dataFrame_population2

        Place    people
0  California  39613493
1       Texas  29730311
2     Florida  21944577
3    New York  19299981

## Creating a DataFrame from a csv file

In [4]:
import pandas as pd

In [7]:
df_exams = pd.read_csv('StudentsPerformance.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'StudentsPerformance.csv'